.about {
    background-color: #273138;
}
.about-single {
    padding: 20px;
    margin: 20px 0;
    h2 {
        color: #fff;
        font-size: 40px;
        text-align: center;
        margin: 20px 0 ;
        font-weight: 800;
    }
    p {
        color:#bcbcbc;
        font-size: 20px;
        text-align: center;
    }
    hr {
        border-bottom: 4px solid $green;
        width: 10%;
    }
}
.item-about {
    padding: 2rem 4rem;
    margin: 20px;
    h2 {
        color: $green;
        font-size: 30px;
        text-align: center;
        margin: 20px 0 ;
        font-weight: 800;
    }
    p {
        color:#bcbcbc;
        font-size: 20px;
        text-align: center;
    }
}
.col-md-4.item {
    background-color: #3b4148;
}
.col-md-4.item2 {
    background-color: #161c21;
}
.col-md-4.item3 {
    background-color: #202a37;
}

@media (max-width: $breakpoint-mobile) {
    .about-single {
        padding: 20px;
        margin: 20px 0;
        h2 {
            color: #fff;
            font-size: 25px!important;
            text-align: center;
            margin: 20px 0 ;
            font-weight: 800;
        }
        p {
            color:#bcbcbc;
            font-size: 15px!important;
            text-align: center;
        }
        hr {
            border-bottom: 4px solid $green;
            width: 10%;
        }
    }
    .item-about {
        padding: 2rem 2rem;
        margin: 20px;
        h2 {
            color: #03b300;
            font-size: 25px;
            text-align: center;
            margin: 20px 0;
            font-weight: 800;
        }
        p {
            color: #bcbcbc;
            font-size: 15px;
            text-align: center;
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .about-single {
        h2 {
            color: #fff;
            font-size: 25px;
            text-align: center;
            margin: 20px 0;
            font-weight: 800;
        }
        p {
            color: #bcbcbc;
            font-size: 15px;
            text-align: center;
        }
    }
    .item-about {
        padding: 0;
        margin: 20px;
        h2 {
            color: #03b300;
            font-size: 20px;
            text-align: center;
            margin: 20px 0;
            font-weight: 800;
        }
        p {
            color: #bcbcbc;
            font-size: 15px;
            text-align: center;
        }
    }
}

@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    .item-about {
        padding: 1rem;
        margin: 20px;
        h2 {
            color: #03b300;
            font-size: 25px;
            text-align: center;
            margin: 20px 0;
            font-weight: 800;
        }
    }
}
