footer {
    background-color: $black;
    padding: 20px;
    .left-footer {
        color: #bcbcbc;
        font-size: 1.4rem;
        strong {
            color: $white;
            font-weight: 800;
        }
    }
    .center-footer {
        color: #03b300;
        font-size: 1.4rem;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        ul {
            list-style: none;
            display:grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;

        }
    }
    .right-footer {
        font-size: 1.4rem;
        text-align: center;
        width: 50%;
        margin: 0 auto;
        ul {
            list-style: none;
            display:grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            .face {
                color: #3b5998!important;
            }
            .twitter {
                color: #1da1f2!important;
            }
            .linkedin {
                color: #0a66c2!important;
            }
            .youtube {
                color: #ff0000!important;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: $breakpoint-mobile) {
    .center-footer {
        color: #03b300;
        font-size: 1.4rem;
        width: 80%!important;
        text-align: center;
        margin: 0 auto;
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            padding-left: 0px;
            a {
                font-weight: bold;
            }
        }
    }
    .right-footer {
        font-size: 1.4rem;
        text-align: center;
        ul {
            list-style: none;
            display:grid;
            grid-template-columns: repeat(2, 1fr)!important;
            grid-gap: 10px;
            padding-left: 0px;
            .face {
                color: #3b5998!important;
                font-weight: bold;
            }
            .twitter {
                color: #1da1f2!important;
                font-weight: bold;
            }
            .linkedin {
                color: #0a66c2!important;
                font-weight: bold;
            }
            .youtube {
                color: #ff0000!important;
                font-weight: bold;
            }
        }
    }
    .left-footer {
        color: #bcbcbc;
        font-size: 15px!important;
        text-align: center;
    }
}
@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    .center-footer {
        color: #03b300;
        font-size: 1.4rem;
        width: 50%!important;
        text-align: center;
        margin: 0 auto;
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            padding-left: 0px;
            a {
                font-weight: bold;
            }
        }
    }
    .right-footer {
        font-size: 1.4rem;
        text-align: center;
        ul {
            list-style: none;
            display:grid;
            grid-template-columns: repeat(4, 1fr)!important;
            grid-gap: 10px;
            padding-left: 0px;
            .face {
                color: #3b5998!important;
                font-weight: bold;
            }
            .twitter {
                color: #1da1f2!important;
                font-weight: bold;
            }
            .linkedin {
                color: #0a66c2!important;
                font-weight: bold;
            }
            .youtube {
                color: #ff0000!important;
                font-weight: bold;
            }
        }
    }
    .left-footer {
        color: #bcbcbc;
        font-size: 15px!important;
        text-align: center;
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {

    footer {
        .center-footer {
            color: #03b300;
            font-size: 1.4rem;
            text-align: center;
            width: auto;
            margin: 0 auto;
        }
        .left-footer {
            color: #bcbcbc;
            font-size: 1.4rem;
            text-align: center;
        }
        .right-footer {

            ul {
                list-style: none;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 10px;
            }
        }
    }
}
@media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large-desktop) {
    footer {
        .right-footer {
            font-size: 1.4rem;
            text-align: center;
            width: auto;

        }
        .center-footer {
            color: #03b300;
            font-size: 1.4rem;
            text-align: center;
            width: auto;
        }
    }
}
