* {
    font-family: $font-main;
}
.text-green {
    color: $green!important;
}
.header {
    background: url('../img/bg-alter.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    .navbar {
        background-color: transparent !important;
    }
    .nav-item {
        a {
            color: #bcbcbc !important;
        }
    }
    .nav-item.active {
        border-bottom: 4px solid $green;
        a {
            color: #fff!important;
        }
    }
    .hero {
        height: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .hero-content {
            text-align: center;
            top: 40%;
            position: absolute;
            .text-white {
                font-size: 60px;
                font-weight: 800;
            }
            .text-green {
                font-size: 80px;
                font-weight: 800;
            }
            .btn-green {
                padding: 1rem 2rem;
                color: #fff;
                background-color: $green;
                border-radius: 5px;
                font-family: $font-main;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    .header {
        .text-white {
            font-size: 20px!important;
            font-weight: 800!important;
        }
        .text-green {
            font-size: 25px!important;
            font-weight: 800!important;
        }
        .hero-content {
            .btn-green {
                padding: 1rem 2rem;
                color: #fff;
                background-color: $green;
                border-radius: 5px;
                font-family: $font-main;
                font-weight: bold;
                font-size: 15px!important;
            }
        }
        .navbar-light {
            .navbar-toggler {
                background: #fff!important;
                border:1px solid $green!important;
                i {
                    color: $green!important;
                }
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .header {
        .text-white {
            font-size: 20px!important;
            font-weight: 800!important;
            margin-bottom: 2rem;
        }
        .text-green {
            font-size: 25px!important;
            font-weight: 800!important;
        }
        .hero-content {
            .btn-green {
                padding: 1rem 2rem;
                color: #fff;
                background-color: $green;
                border-radius: 5px;
                font-family: $font-main;
                font-weight: bold;
                font-size: 15px!important;
            }
        }
        .navbar-light {
            .navbar-toggler {
                background: #fff!important;
                border:1px solid $green!important;
                i {
                    color: $green!important;
                }
            }
        }
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    .header {
        .hero {
            .hero-content {
                .text-white {
                    font-size: 30px;
                    font-weight: 800;
                    margin-bottom: 2rem;
                }
                .text-green {
                    font-size: 40px;
                    font-weight: 800;
                }
                .btn-green {
                    padding: 1rem 2rem;
                    color: #fff;
                    background-color: #03b300;
                    border-radius: 5px;
                    font-family: "myFont", sans-serif;
                    font-weight: bold;
                    font-size: 15px;
                }
            }
        }
    }
}
