.podcast {
    background-color: #000000;
    padding: 30px 20px;
    h2 {
        color: #fff!important;
        font-size: 25px;
        text-align: center;
        //font-family: $font-main;
        i {
            color: $red;
            margin-right: 1rem;
        }
    }
    .btn-green {
        padding: 1rem 2rem;
        color: #fff;
        background-color: $green;
        border-radius: 5px;
        font-family: $font-main;
        font-weight: bold;
    }
    .btn-green-light {
        color: $green;
        border-radius: 5px;
        padding: 1rem 2rem;
        border: 1px solid $green;
        font-family: $font-main;
        font-weight: bold;
        margin-left: 1rem;
    }
}

@media (max-width: $breakpoint-mobile) {
    .podcast {
        background-color: #000000;
        padding: 30px 20px;
        h2 {
            color: #fff !important;
            font-size: 15px!important;
            text-align: center;
            margin-bottom: 2rem;
            //font-family: $font-main;
            i {
                color: $red;
                margin-right: 1rem;
            }
        }
        .contain-buttons {
            text-align: center;
        }
        .btn-green {
            padding: 1rem 2rem;
            color: #fff;
            background-color: #03b300;
            border-radius: 5px;
            font-family: "myFont", sans-serif;
            font-weight: bold;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }
        .btn-green-light {
            color: #03b300;
            border-radius: 5px;
            padding: 1rem 2rem;
            border: 1px solid #03b300;
            font-family: "myFont", sans-serif;
            font-weight: bold;
            width: 60%;
            margin: 0 auto;
            margin-bottom: 1rem;
        }
        .contain-buttons {
            display: grid;
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    .podcast {
        h2 {
            color: #fff !important;
            font-size: 15px;
            text-align: center;
            margin-bottom: 2rem;
        }
        .contain-buttons {
            text-align: center;
        }
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    .podcast {
        h2 {
            color: #fff !important;
            font-size: 15px;
            text-align: center;
        }
        .btn-green {
            padding: 1rem 1rem;
            color: #fff;
            background-color: #03b300;
            border-radius: 5px;
            font-family: "myFont", sans-serif;
            font-weight: bold;
            margin-left: -1rem;
            margin-right: 1rem;
        }
        .btn-green-light {
            color: #03b300;
            border-radius: 5px;
            padding: 1rem 1rem;
            border: 1px solid #03b300;
            font-family: "myFont", sans-serif;
            font-weight: bold;
            margin-left: 0rem;
        }
    }
}
