.proyect-item {
    //background: #4adb11;
    .logo {
        width: 300px;
        margin-bottom: 1rem;
    }
    hr {
        border-bottom: 4px solid $white;
        width: 10%;
        margin: auto 0;
    }
    h2 {
        color: $white;
        font-size: 40px;
        font-weight: bold;
        margin-top: 1rem;
    }
    p {
        color: #fff;
        font-size: 20px;
        margin-bottom: 2rem;
        opacity: .7;
    }
    a {
        padding: 1rem 2rem;
        color: $blue;
        background-color: $white;
        border-radius: 5px;
        font-weight: bold;
    }
}
.content-proyect {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .child-proyect {
        width: 50%;
    }
}
.proyect-item-two {
    .logo {
        width: 300px;
        margin-bottom: 1rem;
    }
    hr {
        border-bottom: 4px solid $white;
        width: 10%;
        margin: auto 0;
    }
    h2 {
        color: $white;
        font-size: 40px;
        font-weight: bold;
        margin-top: 1rem;
    }
    p {
        color: #fff;
        font-size: 20px;
        margin-bottom: 2rem;
        opacity: .7;
    }
    a {
        padding: 1rem 2rem;
        color: $blue;
        background-color: $white;
        border-radius: 5px;
        font-weight: bold;
    }
}

.type-3 {
    .logo {
        width: 300px;
        margin-bottom: 1rem;
    }
    hr {
        border-bottom: 4px solid $red;
        width: 10%;
        margin: auto 0;
    }
    h2 {
        color: $black;
        font-size: 40px;
        font-weight: bold;
        margin-top: 1rem;
    }
    p {
        color: $black;
        font-size: 20px;
        margin-bottom: 2rem;
        opacity: .7;
    }
    a {
        padding: 1rem 2rem;
        color: $white!important;
        background-color: $red!important;
        border-radius: 5px;
        font-weight: bold;
    }
}

@media (min-width: 0px) and (max-width: $breakpoint-mobile) {
    .content-proyect {
        height: 100%;
        padding: 2rem;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .child-proyect {
            width: auto;
        }
    }
    .proyect-item {
        h2 {
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            margin-top: 1rem;
        }
        p {
            color: #fff;
            font-size: 15px;
            margin-bottom: 2rem;
            opacity: 0.7;
        }

    }
    .proyect-item-two {
        .logo {
            width: 300px;
            margin-bottom: 1rem;
        }
        hr {
            border-bottom: 4px solid $white;
            width: 10%;
            margin: auto 0;
        }
        h2 {
            color: $white;
            font-size: 25px;
            font-weight: bold;
            margin-top: 1rem;
        }
        p {
            color: #fff;
            font-size: 15px;
            margin-bottom: 2rem;
            opacity: .7;
        }
        a {
            padding: 1rem 2rem;
            color: $blue;
            background-color: $white;
            border-radius: 5px;
            font-weight: bold;
        }
    }
    .type-3 {
        .logo {
            width: 300px;
            margin-bottom: 1rem;
        }
        hr {
            border-bottom: 4px solid $red;
            width: 10%;
            margin: auto 0;
        }
        h2 {
            color: $black;
            font-size: 25px;
            font-weight: bold;
            margin-top: 1rem;
        }
        p {
            color: $black;
            font-size: 15px;
            margin-bottom: 2rem;
            opacity: .7;
        }
        a {
            padding: 1rem 2rem;
            color: $white!important;
            background-color: $red!important;
            border-radius: 5px;
            font-weight: bold;
        }
    }
}
@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {
    .content-proyect {
        .child-proyect {
            width: auto;
            padding: 2rem;
        }
    }
}
@media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
    .content-proyect {

        .child-proyect {
            width: auto;
            padding: 2rem;
            .logo {
                width: 250px;
                margin-bottom: 1rem;
            }
        }
    }
    .proyect-item-two {
        h2 {
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            margin-top: 1rem;
        }
        p {
            color: #fff;
            font-size: 15px;
            margin-bottom: 2rem;
            opacity: 0.7;
        }
    }
    .proyect-item {
        h2 {
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            margin-top: 1rem;
        }
        p {
            color: #fff;
            font-size: 15px;
            margin-bottom: 2rem;
            opacity: 0.7;
        }
    }
    .type-3 {
        h2 {
            color: #000;
            font-size: 25px;
            font-weight: bold;
            margin-top: 1rem;
        }
        p {
            color: #000;
            font-size: 15px;
            margin-bottom: 2rem;
            opacity: 0.7;
        }
    }
}
@media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large-desktop) {

}
